.form{
    display: flex;
    justify-content: center;
    position: relative;

    margin-top: 100px;
}

.form form{
    background-color: white;
    padding: 20px 30px 10px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.errorBlock{
    display: flex;

    margin-bottom: 10px;
}

.error{
    color: #ff0000;
    padding-top: 36px;

    position: absolute;
    left: 800px;
}

.form label{
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.form input{
    width: 300px;
    height: 30px;

    font-size: 20px;
    outline: .1em solid #c2c2c2;;
    border: none;

}

.form input:focus{
    outline: .1em solid #7b7b86;
}

.button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    background-color: #c2c2c2;
}

.button:focus{
    outline: .15em solid #7b7b86;
}

.button:hover{
    background-color: #ababab;
    outline: .15em solid #7b7b86;
}

.navlLink{
    font-size: 16px;
    margin-left: 15px;
    opacity: .6;
    text-decoration: none;
    transition: .2s;
}

.navlLink:hover{
    opacity: 1;
    text-decoration: underline;
}

.navlLink:focus{
    outline: 0;
    opacity: 1;
    text-decoration: underline;
}