.posts button{
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: #c2c2c2;
    transition: .5s;
}

.posts button:focus{
    outline: .1em solid #7b7b86;
    transform: translateX(300px);
}

.posts button:hover {
    background-color: #ababab;
    outline: .1em solid #7b7b86;
}