.posts{
    /*margin-left: 8px;*/
}

.posts button{
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: #c2c2c2;
    transition: .5s;
    margin-bottom: 8px;
}

.posts button:hover {
    background-color: #ababab;
    outline: .1em solid #7b7b86;
}

.posts textArea{
    outline: .1em solid #c2c2c2;;
    font-size: 16px;
    width: 600px;
    border: none;
    text-align: start;
    resize: none;
    margin-right: 10px;
    margin-bottom: 6px;
}

.posts textArea:focus {
    outline: .15em solid #7b7b86;
}




.post{
    position: relative;
    width: 600px;
    word-break: break-word;

}

.post p, h1{
    font-size: 16px;
}

.post button{
    position: absolute;
    top: 0;
    right: -30px;
}

.posts form button:focus{
    outline: .15em solid #7b7b86;
}


